sqlparse
coreapi
coreschema
Django
djangorestframework
drf-yasg
django-annoying
django-ckeditor
django-cors-headers
django-js-asset
django-ranged-response
django-simple-captcha
django-templated-mail
django-taggit
gunicorn
Jinja2
pip-compile-multi
psycopg2
psycopg2-binary
pytest
pytest-cov
pytest-django
python-dateutil
python-dotenv
phonenumberslite




